* {
	box-sizing: border-box;
}

.container-box {
  margin: 0 auto;
	border: 1px solid black;
  width: 500px;
  height: 500px;
}

.score {
  position: relative;
  right: -25px;
  font-family: monospace;
  font-size: 30;
}

.row {
	height: 4%;
	margin: 0 auto;
	width: 100%;
}

.tile {
	width: 4%;
	height: 100%;
	float: left;
}

.snake-spot {
  background-color: green;
}

.apple-spot {
  background-color: red;
}
